/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
 /* background-image: var(--background-ilg),
  repeating-linear-gradient(to right, #000 2px, transparent 2px 4px),
  repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent),
  var(--back-lin-grad); */
/* background-size:cover ; */

.page {
  padding: 102px 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--bg-img);

  background-attachment: fixed;
  min-height: 100vh;
  font-variation-settings: "wght" var(--main-text-font-weight);
}

.page-element {
  margin: 0 auto;
  inline-size: clamp(min(100%, 385px), 48.5vw, 50vw);
  min-inline-size: 345px;
}

.header {
  display: grid;
  place-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: PressStart2P, fantasy, monospace;
  margin-block-end: 100px;
}

.header__title {
  margin-block-start: clamp(120px, 25%, 136px);
  display: flex;
  flex-direction: column;
  font-family: inherit;
  color: var(--accent-color, #000);
  font-size: clamp(3.0625rem, 2.7167rem + 1.4953vw, 4.0625rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
}

.header__title:focus-visible {
  outline: none;
}

.header__title_descript {
  display: block;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6805rem + 0.8411vw, 1.4375rem);
  margin-block-start: 20px;
  text-transform: uppercase;
}

.theme-menu {
  margin: 22px;
  padding-inline-start: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  transition: width 0.3s ease;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  animation: selected 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  transition: opacity 0.3s ease;
  opacity: 0.6;
  pointer-events: none;
}

.card {
  inline-size: 100%;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.page-element_card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: var(--title-font-weight);
  line-height: normal;
  font-variation-settings: "wght" var(--title-font-weight);
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
  inline-size: 100%;
  overflow: hidden;
  display: flex;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  width: 101%;
  object-fit: cover;
  object-position: center;
}
/*
card__image_sad-style
card__image_expressive-style
card__image_bubblegum-style
card__image_ufo-style
card__image_retro-style
card__image_tired-style
card__image_where-i-am-style
*/

.card__image_sad-style {
  filter: grayscale(80%);
}
.card__image_expressive-style {
  filter: hue-rotate(0.82turn) contrast(150%) saturate(140%);
}

.card__image_bubblegum-style {
  filter: hue-rotate(0.1turn);
}

.card__image_ufo-style {
  filter: hue-rotate(0.75turn) invert(100%) saturate(50%);
}

.card__image_retro-style {
  filter: sepia(0.9);
}

.card__image_tired-style {
  filter: blur(20px) grayscale(50%);
}

.card__image_where-i-am-style {
  filter: contrast(100%) hue-rotate(0.73turn) invert(100%) blur(2px);
}

.card__label {
  z-index: 1;
  position: absolute;
  color: inherit;
  font-family: PressStart2P, fantasy, monospace;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  right: 25px;
  top: 25px;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-family: inherit;
  font-size: 18px;
  font-weight: var(--main-text-font-weight);
  font-variation-settings: "wght" var(--main-text-font-weight);
  line-height: 116.667%;
}

.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  /* position: relative; */
}

.button:focus,
.button:focus-visible {
  outline: none;
}

.button_hover-slider {
  position: relative;
  overflow: hidden;
}

.button_hover-slider::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  block-size: 100%;
  inline-size: 100%;
  transform: translateX(-100%);
  overflow: hidden;
  mix-blend-mode: difference;
  background-color: var(--slider-background-color);
  transition: transform 0.5s ease-in-out;
}

.button_hover-slider:hover::after {
  transform: translateX(0);
}

.button:focus-visible {
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px var(--accent-color);
}

.card__button-container {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 4px;
}

.button__text {
  /* position: relative; */
  font-family: PressStart2P, fantasy, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  min-inline-size: 96px;
  /* z-index: 1; */
}

.card__like-button {
  border: 2px solid var(--accent-color);
  padding: 10px 17px;
  max-width: 130px;
}

.card__icon-button {
  background-color: var(--background-color);
  border: 2px solid transparent;
  transition: border 0.3s ease;
  max-block-size: 37px;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.save-card-button {
  background-color: var(--background-color);
  gap: 8px;
  align-self: center;
  padding: 15px 19px;
  border: 2px solid var(--accent-color);
  inline-size: fit-content;
}

.floppy-icon {
  max-inline-size: 21px;
  max-block-size: 21px;
  color: var(--accent-color);
  fill: var(--background-color);
}

.dialog-save[open] {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  position: fixed;
  inset: 0;
  padding: 30px;
  max-inline-size: 360px;
}

.dialog-save__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog-save_title {
  color: var(--accent-color);
  font-family: PressStart2P, fantasy, monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-save__button {
  color: var(--accent-color);
  font-family: PressStart2P, fantasy, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  display: flex;
  justify-content: center;
  padding: 9px 17px;
}

.dialog-floppy {
  max-width: 39px;
  height: 39px;
  color: var(--accent-color);
}

.dialog-save::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <= 475px) {
  .page-element {
    inline-size: 100%;
  }

  .save-card-button {
    flex-direction: column;
  }

  .floppy-icon {
    max-inline-size: 28px;
    max-block-size: 28px;
  }

  .dialog-save[open] {
    inline-size: 91%;
    padding: 30px 40px;
  }
}
