/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter;
  --accent-font-family: PressStart2P;
  --main-text-font-weight: 400;
  --title-font-weight: 700;
  --slider-background-color: #fff;
  --background-color: #fff;
  --heart-fill-color: transparent;
  --liked-fill-color: #ff0000;
  --accent-color: #000;
  --heart-contour-color: var(--accent-color);
  --back-lin-grad: linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --bg-img: url(../images/light-bg.png),
    repeating-linear-gradient(to right, #d3d3d3 2px, transparent 2px 4px),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent
    ),
    linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}
